# Ansible
ansible/inventory/group_vars/all.yml
!ansible/inventory/group_vars/all.yml.example

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# IDE
.vscode/

# TMP
*.log
*.retry
.ansible/